@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html {
  background: #17E7CF;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  body {
    padding: 1rem;
  }

  .company_setting input {
    border-radius: 0.3rem;
    height: 2rem;
  }

  .company_setting .flex_column {
    display: flex;
    flex-direction: column;
  }

  .company_setting .admin_section {
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 2rem;
    border-top: solid 0.5px whitesmoke;
  }

  .company_setting .placeholder {
    font-size: 10px;
    color: black;
  }

  .company_setting .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    border-radius: 0;
    width: 100%;
    margin-top: 1rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
  }

  .company_setting .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .company_setting select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 4rem;
  }

  .company_setting select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  #app .form-group input {
    border-radius: 0.3rem;
    height: 2rem;
    width: calc(100% - 5px);
    display: inline-block;
  }

  #app .youbi {
    text-align: center;
  }

  #app .youbi input {
    width: 5%;
  }

  #app .navbar-nav {
    padding-left: 40%;
    list-style: none;
  }

  #app .navbar-nav a {
    text-decoration: none;
    color: black;
    width: 100%;
  }

  #app .navbar-nav .login_wrapper {
    background-color: white;
    margin-right: 2px;
    text-align: center;
    width: 7rem;
  }

  #app .navbar-nav .register_wrapper {
    background-color: white;
    text-align: center;
    width: 7rem;
  }

  #app .flex_ {
    display: flex;
  }

  #app select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 100%;
    height: 2rem;
  }

  #app select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  #app .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 100%;
    margin-top: 1rem;
  }

  #app .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .shift_cleate .flex_column {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
  }

  .shift_cleate .flex_column input {
    border-radius: 0.3rem;
    height: 2rem;
  }

  .shift_cleate select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 4rem;
  }

  .shift_cleate select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  .shift_cleate .calculation_work_time #button {
    height: 2rem;
    width: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: #007B76;
  }

  .shift_cleate .calculation_work_time input {
    font-size: 1rem;
    width: 5rem;
  }

  .shift_cleate .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 100%;
    margin-top: 1rem;
  }

  .shift_cleate .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .default_necessary .flex_column {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
  }

  .default_necessary .flex_column input {
    height: 2.6rem;
  }

  .default_necessary select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 100%;
  }

  .default_necessary select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  .default_necessary .select_necessary {
    width: 15%;
  }

  .default_necessary .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 100%;
    margin-top: 1rem;
  }

  .default_necessary .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .default_necessary .plus {
    display: inline-block;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 25%;
    margin-top: 1rem;
    text-align: center;
  }

  .default_necessary .plus:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .default_necessary .del {
    display: inline-block;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #dc143c;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #dc143c;
    width: 25%;
    margin-top: 1rem;
    text-align: center;
    border-radius: 0;
  }

  .default_necessary .del:hover {
    box-shadow: none;
    color: #dc143c;
    background: #ffffff;
  }

  .default_necessary .default_necessary_border {
    border: solid 1px white;
    margin-bottom: 1rem;
  }

  .users_list table {
    margin: 0 auto;
  }

  .users_list td {
    border: solid 1px;
    /* 枠線指定 */
  }

  .users_list .del {
    background-color: red;
    padding: 10px;
    /* 余白指定 */
  }

  .users_list .del input {
    background-color: transparent;
    border: none;
  }

  .users_list th,
  .users_list td {
    padding: 10px;
    /* 余白指定 */
  }

  .users_list .user_name {
    width: 100%;
  }

  .necessary_staff .flex_column {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
  }

  .necessary_staff .flex_column input {
    height: 2.6rem;
  }

  .necessary_staff select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 100%;
    height: 2rem;
  }

  .necessary_staff .select_necessary select {
    width: 6rem;
  }

  .necessary_staff select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  .necessary_staff .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 100%;
    margin-top: 1rem;
  }

  .necessary_staff .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }

  .necessary_list_search .flex_column {
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
  }

  .necessary_list_search .flex_column input {
    height: 2.6rem;
  }

  .necessary_list_search select {
    outline: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #fff;
    width: 100%;
    height: 2rem;
  }

  .necessary_list_search .select_necessary select {
    width: 6rem;
  }

  .necessary_list_search select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }

  .necessary_list_search .send {
    display: inline-block;
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #007B76;
    color: #ffffff;
    line-height: 1em;
    transition: 0.3s;
    box-shadow: 6px 6px 15px #666666;
    border: 2px solid #007B76;
    width: 100%;
    margin-top: 1rem;
  }

  .necessary_list_search .send:hover {
    box-shadow: none;
    color: #007B76;
    background: #ffffff;
  }
}

